.div2{
  border: 2px solid #000;
  width: 150px;
  height: 200px;
  color: white;
  margin-top: 28px;
}
.member{
  color: red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.all{
  position: absolute;
  margin-top: 26px;
  left: 38%;
}
img{
  position: absolute;
  left: 47%;
  width: 150px;
  margin-top: 70px;
}
.div{

border:2px solid #000;
left: fixed;
right: fixed;
}
.div3{
  border: 2px solid #000;
  border-radius: 6px;
font-size: 30px;
width: 260px;
position: absolute;
left: 42%;
position: center;
background-color: grey;
color: white;
}
p{
  border: 1px solid black;
  
  
}
.div4{
  margin-top: 50px;
}

.div5{
  border: 2px solid #000;
  width: 150px;
  height: 150px;
  color: white;
  margin-top: 28px;
margin-left: 90%;
}
.div6{
  position: relative;
  top: -93px;
  left: 91%;
}